# <font color=Blue>Data Types</font>

Following are the built in Data Types and their Type<br>
1. Numeric type : int, flot, complex
2. String type : str
3. Sequence type : list, tuple, range
4. Mapping type : dict
5. Boolean type : bool
6. Set type : set, frozenset
7. Binary type : bytes, bytearray, memoryview
8. None type : None

## 1. Numeric

In [3]:
x=5
print(type(x))

y=10.3456
print(type(y))

z=5+2j
print(type(z))

m=float(5)
print(m)
print(type(m))

n=int(2.8)
print(n)
print(type(n))

o=complex(1)
print(o)
print(type(o))

<class 'int'>
<class 'float'>
<class 'complex'>
5.0
<class 'float'>
2
<class 'int'>
(1+0j)
<class 'complex'>

### 3.1. Adding data at the end

In [11]:
var.append("Grapes")
print(var)

['Apple', 'Banana', 'Orange', 'Apple', 'Grapes']

### 4. None

In [3]:
x=None
print(type(x))

<class 'NoneType'>