# <font color=Blue>List</font>

List is an ordered collection of similar or different types of items separated by commas and enclosed within [ ] brackets.
<br>
Creating a List

- Time Complexity: O(1)
- Space Complexity: O(n)

In [1]:
var=["Apple", "Banana", "Orange", "Apple"] #homogeneous list
print(var)
print(type(var))

efg=[10, 20.5, 30+4j, "Hello", True] #heterogeneous list
print(efg)
print(type(efg))

coordinates=[[0,0], [10,3.7], [100,50]] #A list can contains other lists
print(coordinates)
print(type(coordinates))

['Apple', 'Banana', 'Orange', 'Apple']
<class 'list'>
[10, 20.5, (30+4j), 'Hello', True]
<class 'list'>
[[0, 0], [10, 3.7], [100, 50]]
<class 'list'>

<font color=Orange>List is <b>mutable</b> which means we can add the elements or delete the elements or modify the elements</font>

## 3.1. Accessing elements in a list

- Time Complexity: O(1)
- Space Complexity: O(1)

In [8]:
lst1=[10, 20.5, 30+4j, "Hello", True]
print(lst1[1])
print(lst1[-1])

lst2=[['Geeks', 'For'], ['Geeks']]
print(lst2[0][1])
print(lst2[1][0])

20.5
True
For
Geeks

## 3.2. List Slicing

In [9]:
lst1=[10, 20.5, 30+4j, "Hello", True]
print(lst1[:]) #all members
print(lst1[:3]) #index 0 to 3(excluded)
print(lst1[1:]) #index 1 to till end
print(lst1[1:-1]) #index 1 to index -1(excluded)

[10, 20.5, (30+4j), 'Hello', True]
[10, 20.5, (30+4j)]
[20.5, (30+4j), 'Hello', True]
[20.5, (30+4j), 'Hello']

## 3.3. Updating elements in a List

In [3]:
lst1=[10, 20.5, 30+4j, "Hello", True]
lst1[-1]="False"
print(lst1)

print()

lst1[0]=lst1[0]/5
print(lst1)

[10, 20.5, (30+4j), 'Hello', 'False']

[2.0, 20.5, (30+4j), 'Hello', 'False']

## 3.4. Adding elements to the list 

- The <b>append()</b> method appends an element to the <b>end</b> of a list
    - Time Complexity: O(1)
    - Space Complexity: O(1)
    
 
- The <b>insert()</b> method adds a new element at <b>any position</b> in the list.
    - Time Complexity: O(n)
    - Space Complexity: O(1)
    
    
- The <b>extend()</b> method appends <b>multiple</b> elemens to the <b>end</b> of the list
    - Time Complexity: O(n)
    - Space Complexity: O(1)

In [9]:
# By using append() method

lst1=[10, 20.5, 30+4j, "Hello", True]
print(lst1)

lst1.append(7890) #append()
print(lst1)

lst1.append("World")
print(lst1)

for i in range(1, 4): # 1, 2, 3
    lst1.append(i)
print(lst1)

[10, 20.5, (30+4j), 'Hello', True]
[10, 20.5, (30+4j), 'Hello', True, 7890]
[10, 20.5, (30+4j), 'Hello', True, 7890, 'World']
[10, 20.5, (30+4j), 'Hello', True, 7890, 'World', 1, 2, 3]

In [31]:
# By using insert() method

lst1=[10, 20.5, 30+4j, "Hello", True]
print(lst1)

lst1.insert(2,100) #insert(index, value) insert number 100 at index 0
print(lst1)

lst1.insert(-1, "World") #-1 working as -2 here
print(lst1)

[10, 20.5, (30+4j), 'Hello', True]
[10, 20.5, 100, (30+4j), 'Hello', True]
[10, 20.5, 100, (30+4j), 'Hello', 'World', True]

In [10]:
# By using extend() method

lst1=[10, 20.5, 30+4j, "Hello", True]
print(lst1)

lst1.extend(["Geeks", 8, "Always", 22.45])
print(lst1)

[10, 20.5, (30+4j), 'Hello', True]
[10, 20.5, (30+4j), 'Hello', True, 'Geeks', 8, 'Always', 22.45]

## 3.5. Removing elements from a list

- The <b>remove()</b> method takes the particular <b>element</b> to be removed as an argument.
    - Time Complexity: O(n)
    - Space Complexity: O(1)


- The <b>pop()</b> and <b>del</b> take the <b>index</b> of the element to be removed as an argument.
    - Time Complexity: O(1) for removing last element and O(n) for removing first & middle element
    - Space Complexity: O(1)

In [11]:
#to remove an element by value use remvoe() method

lst1=[10, 20.5, 30+4j, "Hello", True]
print(lst1)

lst1.remove(10) #remove() to remove value 10
print(lst1)

lst1.remove("Hello") #When the list has duplicate elements, the very first element that matches the given element will be removed from the list.
print(lst1)

[10, 20.5, (30+4j), 'Hello', True]
[20.5, (30+4j), 'Hello', True]
[20.5, (30+4j), True]

In [42]:
#del statement allows you to remove an element from a list by specifying the position of the element.

lst1=[10, 20.5, 30+4j, "Hello", True]
print(lst1)

del lst1[0] #del to remove an element at index 0
print(lst1)

del lst1[-1] #del to remove an element at index -1 
print(lst1)

[10, 20.5, (30+4j), 'Hello', True]
[20.5, (30+4j), 'Hello', True]
[20.5, (30+4j), 'Hello']

In [2]:
#The pop() method removes the last element from a list and returns that element

lst1=[10, 20.5, 30+4j, "Hello", True]
print(lst1)

last=lst1.pop() #pop() to remove last element, default -1
print(last)
print(lst1)

last=lst1.pop(-1) #pop() to remove last element
print(last)
print(lst1)

first=lst1.pop(0) #pop() to remove an element using index
print(first)
print(lst1)

[10, 20.5, (30+4j), 'Hello', True]
True
[10, 20.5, (30+4j), 'Hello']
Hello
[10, 20.5, (30+4j)]
10
[20.5, (30+4j)]

In [35]:
lst1=[10, 20.5, 30+4j, "Hello", True]
lst1.clear() #to remove all the elements
print(lst1)

[]

## 3.6. len()

In [50]:
lst1=[10, 20.5, 30+4j, "Hello", True]
print(len(lst1)) #returns the length of the list

5

## 3.7. max()

In [54]:
lst2=[10, 373, 15, 20.5, True] #str and complex not working here
print(max(lst2)) #returns the maximum value

373

In [1]:
var=["Apple", "Banana", "Orange", "Apple"] #str and int can't be used together in max()
print(max(var))

Orange

## 3.8. min()

In [55]:
lst2=[10, 373, 15, 20.5, True] #str and complex not working here
print(min(lst2)) #returns the manimum value

True

In [2]:
var=["Apple", "Banana", "Orange", "Apple"] #str and int can't be used together in min()
print(min(var))

Apple

## 3.9. list(tuple)

In [58]:
animals=("cat", "dog", "fish", "cow")
print(list(animals)) #converts tuple into list

['cat', 'dog', 'fish', 'cow']

## 3.10. reverse()

In [62]:
lst1=[10, 20.5, 30+4j, "Hello", True]
lst1.reverse() #reverses the elements of the list
print(lst1)

[True, 'Hello', (30+4j), 20.5, 10]

## 3.11. index()

In [2]:
lst1=[10, 20.5, 30+4j, "Hello", True]
getIndex=lst1.index(30+4j) #to get index value of an element, index(element, start, end)
print(getIndex) 

print(lst1.index("Hello", 1,)) #index(element,start)

2
3

## 3.12. sum()

In [67]:
lst2=[10, 373, 15, 20.5, True] #sum() only works for integers or decimals
print(sum(lst2)) #to get the sum of all the values in the list, if the values are all numbers

lst1=[10, 20.5, 30+4j, "Hello", True]
print(sum(lst1)) #any element that is not a number, such as a string, the sum method would not work.

419.5

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

## 3.13. sort()

In [73]:
lst2=[10, 373, 20.5, 15, True] 
lst2.sort() #to arrange a list of integers, floating point numbers, or strings, in ascending or descending order
print(lst2)

[True, 10, 15, 20.5, 373]

In [3]:
lst2=[10, 373, 20.5, 15, True] 
lst2.sort(reverse=True) #to sort in descending order
print(lst2)

[373, 20.5, 15, 10, True]

In [5]:
animals=["cat", "Elephant" , "fish", "Tiger", "dog"]
animals.sort() #sort by alphabet
print(animals)

animals.sort(key=len) #sort by length
print(animals)

['Elephant', 'Tiger', 'cat', 'dog', 'fish']
['cat', 'dog', 'fish', 'Tiger', 'Elephant']

## 3.14. Looping through list

In [6]:
lst1=[10, 20.5, 30+4j, "Hello", True]
for elem in lst1:
    print(elem)

10
20.5
(30+4j)
Hello
True

In [13]:
lst1=[10, 20.5, 30+4j, "Hello", True]
for elem in lst1[:3]: #loop through the first three elements of the list, and delete all of them
    lst1.remove(elem)
    
print(lst1)

['Hello', True]

In [29]:
lst1=[10, 20.5, 30+4j, "Hello", True]
new_lst=[] #empty list
for elem in lst1[2:]: #loop through index 2 to last element and append them to new list
    new_lst.append(elem)
    
print("New list: {}".format(new_lst))

New list: [(30+4j), 'Hello', True]

## 3.15. List Comprehension

In [33]:
#without list comprehension
list_of_squares=[]
for intg in range(1,10): #1,2,3,4,5,6,7,8,9
    square=intg**2
    list_of_squares.append(square)
    
print(list_of_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
#with list comprehension
lst_squares=[intg**2 for intg in range(1,10)]
print(lst_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## 3.16. Copy a List

In [36]:
list_org = ["banana", "cherry", "apple"]
list_copy=list_org #this just copies the reference to the list, so be careful

list_copy.append("Mango") #now modifying the copy also affects the original
print(list_copy)
print(list_org)

['banana', 'cherry', 'apple', 'Mango']
['banana', 'cherry', 'apple', 'Mango']

In [37]:
indelist_org = ["banana", "cherry", "apple"]
list_copy=list_org.copy() #now modifying the copy does not affect the original

list_copy.append("Mango")
print(list_copy)
print(list_org)

['banana', 'cherry', 'apple', 'Mango']
['banana', 'cherry', 'apple']

## 3.17. Nested List

In [42]:
abc=[[1,2], [3,4], [10, 20.5]]
print(abc[1])

[3, 4]

## 3.18. List Average

- By using the <b>loop</b>
- By using <b>sum()</b> and <b>len()</b> built-in average function
- By using <b>mean()</b> from the <b>statistics</b> module
- By using <b>mean()</b> from <b>numpy</b> library

In [5]:
#By using the loop

def cal_avg(num):
    sum=0
    for t in num:
        sum=sum+t
        
    avg=sum/len(num)
    return avg

print("The average is :", cal_avg([18,25,3,41,5,80]))

The average is : 28.666666666666668

In [7]:
#using sum() and len() built-in functions

num_lst=[18,25,3,41,5,80]
avg=sum(num_lst)/len(num_lst)
print("The average is :",avg)
print("The average is :",round(avg,2)) #round()

The average is : 28.666666666666668
The average is : 28.67

In [9]:
#Using mean() from statistics module

from statistics import mean

num_lst=[18,25,3,41,5,80]
avg=mean(num_lst)
print("The average is :",round(avg,2))

The average is : 28.67

In [11]:
#using mean() from numpy library

from numpy import mean

num_lst=[18,25,3,41,5,80]
avg=mean(num_lst)
print("The average is :",round(avg,2))

The average is : 28.67

## 3.19. count()

- The count() function is used to <b>count elements</b> on a list as well as a string.
- It return an <b>integer</b> value, i.e., the count of the given element from the given list.
- It returns a <b>0</b> if the value is <b>not found</b> in the given list.

In [13]:
lst1 = ['red', 'green', 'blue', 'orange', 'green', 'gray', 'green']
color_count = lst1.count('green')
print('The count of color: green is {}'.format(color_count))

The count of color: green is 3

## 3.20. Remove duplicates from a List

- By using <b>Set</b>
- By using the <b>Temporary List</b>
- By using <b>Dict</b>
- By using <b>for-loop</b>
- By using <b>list comprehension</b>
- By using Numpy <b>unique()</b> method
- By using <b>Pandas</b> methods
- By using <b>enumerate()</b>

In [1]:
#Remove duplicates using Set

lst=[1,1,2,3,2,2,4,5,6,2,1]
new_lst=set(lst)
print(list(new_lst))

[1, 2, 3, 4, 5, 6]

In [4]:
#Remove duplicates using the temporary list

lst=[1,1,2,3,2,2,4,5,6,2,1]
temp_lst=[]
for i in lst:
    if i not in temp_lst:
        temp_lst.append(i)
        
print(temp_lst)

[1, 2, 3, 4, 5, 6]

In [6]:
#Remove duplicates using Dict

from collections import OrderedDict #OrderedDict python2.7

lst=[1,1,2,3,2,2,4,5,6,2,1]
final_lst=OrderedDict.fromkeys(lst)
print(list(final_lst))


lst=[1,1,2,3,2,2,4,5,6,2,1]
final_lst=dict.fromkeys(lst) #regular dict() python3+
print(list(final_lst))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [10]:
#Remove duplicates using for loop

lst=[1,1,2,3,2,2,4,5,6,2,1]
final_lst=[]
for i in lst:
    if i not in final_lst:
        final_lst.append(i)
        
print(final_lst)

[1, 2, 3, 4, 5, 6]

In [11]:
#Remove duplicates using list comprehension

lst=[1,1,2,3,2,2,4,5,6,2,1]
final_lst=[]
[final_lst.append(i) for i in lst if i not in final_lst]
print(final_lst)

[1, 2, 3, 4, 5, 6]

In [19]:
#Remove duplicates using Numpy unique() method

import numpy as np

lst=[1,1,2,3,2,2,4,5,6,2,1]
final_lst=np.unique(lst).tolist() #to convert back output as list
print(final_lst)

[1, 2, 3, 4, 5, 6]

In [20]:
#Remove duplicates using Pandas method

import pandas as pd

lst=[1,1,2,3,2,2,4,5,6,2,1]
final_lst=pd.unique(lst).tolist()
print(final_lst)

[1, 2, 3, 4, 5, 6]

In [1]:
#Remove duplicates using enumerate()
#Enumerate returns an object with a counter to each element in the list.
#For example (0,1), (1,2) etc. Here the first value is the index, and the second value is the list item.

lst=[1,1,2,3,2,2,4,5,6,2,1]
final_lst=[i for j, i in enumerate(lst) if i not in lst[:j]] #Each element is checked if it exists in the list, and if it does, it is removed from the list.
print(final_lst)

[1, 2, 3, 4, 5, 6]