# <font color=Blue>Tuple</font>

A tuple is a collection of objects which is ordered and <font color=Orange><b>immutable</b></font>. Tuples are similar to lists, the main difference is the immutability.

Tuple items separated by commas and enclosed within ( ) brackets.

<font color=Orange>Tuple is <b>immutable</b> which means we <b>can't</b> add the elements or delete the elements or modify the elements</font>

In [3]:
var=("Apple", "Banana", "Orange", "Apple") #homogeneous tuple
print(var)
print(type(var))

tup=(10, 20.5, 30+4j, "Hello", True) #heterogeneous tuple
print(tup)
print(type(tup))

('Apple', 'Banana', 'Orange', 'Apple')
<class 'tuple'>
(10, 20.5, (30+4j), 'Hello', True)
<class 'tuple'>

In [7]:
tup1=(25)
print(tup1)
print(type(tup1))

tup2=(25,) #a tuple with only one element needs to have a comma at the end comma ","
print(tup2) #otherwise it is not recognized as tuple
print(type(tup2))

tup3=tuple([1,2,3,[4,5]])
print(tup3)
print(type(tup3))

25
<class 'int'>
(25,)
<class 'tuple'>
(1, 2, 3, [4, 5])
<class 'tuple'>

## 4.1. Accessing elemnets in a Tuple

In [7]:
tup=(10, 20.5, 30+4j, "Hello", True)
print(tup[0])
print(tup[1])
print(tup[2])
print(tup[-1])

10
20.5
(30+4j)
True

## 4.2. Add or Change element in a Tuple

In [9]:
tup[1]=25.6 #tuple is immutable so it will throw an error
print(tup[1])

TypeError: 'tuple' object does not support item assignment

## 4.3. Delete a Tuple

In [11]:
var=("Apple", "Banana", "Orange", "Apple")
del var

In [13]:
print(var) #NameError 'var' means tuple var is deleted

NameError: name 'var' is not defined

## 4.4. Looping through Tuple

In [14]:
tup=(10, 20.5, 30+4j, "Hello", True)
for i in tup:
    print(i)

10
20.5
(30+4j)
Hello
True

## 4.5. Packing and Unpacking a Tuple

In [18]:
#number of variables have to match number of tuple elements

tuple_1 = ("Max", 28, "New York") #Tuple Packing
name, age, city = tuple_1 #Tuple Unpacking
print(name)

Max

## 4.6. Comparing Tuples

- The comparison starts with a <b>first</b> element of each tuple.
- If they do not compare to =, <, > then it proceed to the <b>second</b> element and so on.

In [19]:
a=(5,6)
b=(1,4)
if (a>b): #here 5>1 
    print("a is bigger")
else:
    print("b is bigger")

a is bigger

In [23]:
a=(5,6)
b=(5,4)
if (a>b): #here 5>5 is not possible so proceed to next element i.e. 6>4
    print("a is bigger")
else:
    print ("b is bigger")

a is bigger

In [24]:
a=(5,6)
b=(6,4)
if (a>b): #here 5>6 is false so prints else part
    print("a is bigger")
else:
    print("b is bigger")

b is bigger

## 4.7. len()

In [25]:
tup=(10, 20.5, 30+4j, "Hello", True)
print(len(tup)) #retuens the no of elements in a tuple

5

## 4.8. max()

In [28]:
tup=(10, 20.5, 100, 3467, True) #complex and str are not supported here
print(max(tup))

3467

In [29]:
var=("Apple", "Banana", "Orange", "Apple") #str and int can't be used together in max()
print(max(var))

Orange

## 4.9. min()

In [30]:
tup=(10, 20.5, 100, 3467, True) #complex and str are not supported here
print(min(tup))

True

In [32]:
var=("Apple", "Banana", "Orange", "Apple") #str and int can't be used together in min()
print(min(var))

Apple

## 4.10. count()

In [33]:
tup=(10, 20.5, 30+4j, "Hello", True, 10)
print(tup.count(10)) #Returns the no of items that is equal to passing value

2

## 4.11. index()

In [36]:
tup=(10, 20.5, 30+4j, "Hello", True, 10)
print(tup.index(20.5))

1

## 4.12. Tuple Concatination

In [37]:
a=(1,2)
b=(3,4.5)
c=a+b
print(c)

(1, 2, 3, 4.5)

## 4.13. tuple(list) & tuple(string)

In [39]:
lst1=['a', 'b', 'c', 'd']
tup1=tuple(lst1)
print(tup1)

str1="Hello World"
tup2=tuple(str1)
print(tup2)

('a', 'b', 'c', 'd')
('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

## 4.14. Tuple Slicing

In [48]:
tup=(10, 20.5, 30+4j, "Hello", True) #(0, 1, 2, 3, 4)

tup1=tup[1:3] #index 1 to index 3(excluded)
print(tup1)

tup1=tup[1:] #index 1 to till the end
print(tup1) 

tup1=tup[:3] #index 0 to 2
print(tup1)

tup1=tup[::2] #start to end with step 2
print(tup1)

tup1=tup[::-1] #reverse tuple items
print(tup1)

(20.5, (30+4j))
(20.5, (30+4j), 'Hello', True)
(10, 20.5, (30+4j))
(10, (30+4j), True)
(True, 'Hello', (30+4j), 20.5, 10)

## 4.15. Nested tuples

In [49]:
a = ((0, 1), ('age', 'height'))
print(a)
print(a[0])

((0, 1), ('age', 'height'))
(0, 1)

## 4.16. Compare Tuple and List

In [53]:
#to compare the size

import sys

tup=(10, 20.5, 30+4j, "Hello", True)
lst=[10, 20.5, 30+4j, "Hello", True]

print(sys.getsizeof(tup), "bytes") 
print(sys.getsizeof(lst), "bytes")

80 bytes
96 bytes

In [59]:
#to compare execution time

import timeit

print(timeit.timeit(stmt="(10, 20.5, 30+4j, \"Hello\", True)", number=1000000))
print(timeit.timeit(stmt="[10, 20.5, 30+4j, \"Hello\", True]", number=1000000))

0.031887899996945634
0.15693790000659646