# <font color=Blue>Set</font>

Set is an <b>unordered</b> collection of <b>immutable</b> elements.
- Elements in a set are <b>unordered</b>.
- Elements in a set are <b>unique</b>. A set doesnâ€™t allow duplicate elements.
- Elements in a set <b>can't</b> be changed. For example, they can be numbers, strings, and tuples, but cannot be lists or dictionaries.

Set in Python, you use the curly brace <b>{}</b>

In [33]:
empty_dict={} #empty dictionary
empty_set=set() #empty set
print(empty_dict)
print(empty_set)

{}
set()

In [27]:
#Unordered

fruits=set(["apple", "Watermelon", "Orange", "grapes", "strawberry"])
print(fruits) #Order may not be preserved
print(type(fruits))

{'Watermelon', 'strawberry', 'apple', 'Orange', 'grapes'}
<class 'set'>

In [24]:
fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
print(fruits)
print(type(fruits))

{'Watermelon', 'strawberry', 'apple', 'Orange', 'grapes'}
<class 'set'>

In [5]:
#removes duplicates

char=set("Letter")
print(char)

{'r', 't', 'e', 'L'}

## 6.1. Adding elements to a Set

In [16]:
#add() method

my_set=set()

my_set.add(420)
my_set.add(3+4j)
my_set.add(True)
my_set.add("Hello")
print(my_set)

print()

fruits=set(["apple", "Watermelon", "Orange", "grapes", "strawberry"])
fruits.add(" ")
print(fruits)

{True, 420, 'Hello', (3+4j)}

{'Watermelon', 'strawberry', 'apple', 'Orange', ' ', 'grapes'}

## 6.2. Remove an element from a Set

- By using <b>remove()</b> method
- By using <b>discard()</b> mehtod
- By using <b>pop()</b> method
- By using <b>clear()</b> method

In [26]:
#By using remove() method

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
print(fruits)
fruits.remove("Orange")
print(fruits)

{'Watermelon', 'strawberry', 'apple', 'Orange', 'grapes'}
{'Watermelon', 'strawberry', 'apple', 'grapes'}

In [22]:
fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
fruits.remove("Potato") #remove() throws error if the element not present in the set

KeyError: 'Potato'

In [28]:
#By using discard() mehtod

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
fruits.discard("Orange")
print(fruits)

{'Watermelon', 'strawberry', 'apple', 'grapes'}

In [29]:
fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
fruits.discard("Potato")
print(fruits) #discard() will not throw error if the element not present in the set

{'Watermelon', 'strawberry', 'apple', 'Orange', 'grapes'}

In [30]:
#By using pop() method

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
fruits.pop()
print(fruits) #pop() will remove a random element

{'strawberry', 'apple', 'Orange', 'grapes'}

In [31]:
#By using clear() method

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
fruits.clear() #clear() to remove all the elements
print(fruits)

set()

## 6.3. Looping through a Set

- By using <b>for</b> loop
- By using <b>enumerate</b> to access the index of the element

In [7]:
#By using for loop

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
for i in fruits:
    print(i)

Orange
apple
grapes
strawberry
Watermelon

In [15]:
#By using enumerate()

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
for index,fruitname in enumerate(fruits):
    print("{}.{}".format(index,fruitname))
    #print(f"{index}.{fruitname}")

0.Orange
1.apple
2.grapes
3.strawberry
4.Watermelon

In [18]:
#By using enumerate()

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
for index,fruitname in enumerate(fruits, 1): #By default index start from 0. To change that pass any value
    print("{}.{}".format(index,fruitname))

1.Orange
2.apple
3.grapes
4.strawberry
5.Watermelon

## 6.4. Set Comprehension

In [21]:
#without set comprehension

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}

upper_fruits=set()
for i in fruits:
    upper_fruits.add(i.upper())
    
print(upper_fruits)

{'APPLE', 'ORANGE', 'STRAWBERRY', 'GRAPES', 'WATERMELON'}

In [1]:
#with set comprehension

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
upper_fruits={i.upper() for i in fruits}
print(upper_fruits)

{'STRAWBERRY', 'WATERMELON', 'GRAPES', 'APPLE', 'ORANGE'}

In [2]:
#with set comprehension

fruits={"apple", "Watermelon", "Orange", "grapes", "strawberry"}
upper_fruits={i.upper() for i in fruits if i!="apple"}
print(upper_fruits)

{'GRAPES', 'ORANGE', 'STRAWBERRY', 'WATERMELON'}

## 6.5. Set Union

Here you will learn how to union two or more sets
- By using <b>union()</b>
- By using set union operator (<b>|</b>)

The union of two sets returns a <b>new set</b> that contains <b>distinct</b> elements from <b>both</b> sets.

In [8]:
#By using union()

s1 = {'Python', 'Java', 'c++'}
s2 = {'C#', 'Java', 'c++'}
s=s1.union(s2) #union() accepts set, strings, list and dictionary
print(s)

{'c++', 'Java', 'Python', 'C#'}

In [7]:
#By usnig | 

s1 = {'Python', 'Java', 'c++'}
s2 = {'C#', 'Java', 'c++'}
s=s1|s2 #operator | accepts only set
print(s)

{'c++', 'Java', 'Python', 'C#'}

## 6.6. Set Intersection

When intersecting two or more sets, youâ€™ll get a <b>new set</b> consisting of elements that <b>exist</b> in <b>all sets</b>.

- By using <b>intersection()</b>
- By using set intersection operator (<b>&</b>)

In [9]:
#By using intersection()

s1 = {'Python', 'Java','C++'}
s2 = {'C#', 'Java', 'C++' }
s=s1.intersection(s2) #intersection() accepts set, strings, list and dictionary
print(s)

{'C++', 'Java'}

In [10]:
#By using &

s1 = {'Python', 'Java','C++'}
s2 = {'C#', 'Java', 'C++' }
s=s1&s2 #operator & accepts only set
print(s)

{'C++', 'Java'}

## 6.7. Set Difference

The difference between the two sets results in a <b>new set</b> that has elements from the <b>first set which arenâ€™t present in the second set</b>.
- By using <b>difference()</b>
- By using set difference operator (<b>-</b>)

In [13]:
#By using difference() 

s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s=s1.difference(s2) #difference() accepts set, strings, list and dictionary
print(s)

{'Python'}

In [16]:
#By using difference() 

s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s=s2.difference(s1)
print(s)

{'C#'}

In [20]:
#By using (-)

s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s=s1-s2 #operator - accepts only set
print(s)

{'Python'}

In [18]:
#By using (-)

s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s=s2-s1
print(s)

{'C#'}

## 6.8. Set Symmetric Difference

The symmetric difference between two sets is a set of elements that are in either set, but not in their intersection.

- By using <b>symmetric_difference()</b>
- By using set symmetric difference operator (<b>^</b>)

In [24]:
#By using symmetric_difference()

s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s=s1.symmetric_difference(s2) #symmetric_difference() accepts set, strings, list and dictionary
print(s)

{'C#', 'Python'}

In [25]:
#By using (^)

s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s=s1^s2 #operator ^ accepts only set
print(s)

{'C#', 'Python'}

## 6.9. Subset

You have two sets A and B. Set A is a subset of set B if all elements of A are also elements of B. Then, set B is a superset of set A.

- By using <b>issubset()</b> method is used to check if a set is a subset of another set. If yes it returns <b>True</b> otherwise <b>False</b>.
- By using subset operator (<b><=</b>)

In [29]:
#By using issubset()

setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
print(setB.issubset(setA)) #to check setB is a subset of setA

print(setA.issubset(setB)) #to check setA is a subset of setB

True
False

In [33]:
#By using (<=)

setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
print(setB<=setA) #to check setB is a subset of setA

print(setA<=setB) #to check setA is a subset of setB

True
False

## 6.10. Superset

You have two sets: A and B. Set A is a superset of set B if all elements of set B are elements of set A.

- By using <b>issuperset()</b>
- By using set superset operatpor (<b>>=</b>).

In [2]:
#By using issuperset()

setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
print(setA.issuperset(setB)) #to check setA is superset of setB
print(setB.issuperset(setA)) #to check setB is superset of setA

True
False

In [10]:
#By using (>=)

setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
print(setA>=setB) #to check setA is a superset of setB
print(setB>=setA) #to check setB is a superset of setA
print(setA>=setA) #to check setA is a superset of setA

True
False
True

In [9]:
#To check proper superset use >

setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
print(setA>setB)
print(setB>setA)
print(setA>setA)

True
False
False

## 6.11. Disjoint Set

Two sets are disjoint when they have <b>no elements in common</b>. In other words, two disjoint sets are sets whose intersection is an empty set.

- By using <b>isdisjoint()</b>

In [11]:
#By using isdisjoint()

odd={1, 3, 5}
even={2, 4, 6}
result=odd.isdisjoint(even) #isdisjoint() accepts sets, lists, strings and dictionary
print(result)

True

In [12]:
letters={"a", "b", "c"}
result=letters.isdisjoint([1,2,"3"])
print(result)

True

## 6.12. Frozen Set

- Frozen set is just an <b>immutable</b> version of normal set. To make a set immutable, you use the built-in function called <b>frozenset()</b>. The frozenset() returns a new immutable set from an existing one.

In [2]:
fruits=frozenset(["apple", "Watermelon", "Orange", "grapes", "strawberry"])
print(fruits)

frozenset({'apple', 'Watermelon', 'strawberry', 'grapes', 'Orange'})

In [6]:
fruits.add("Mango")
print(fruits) #adding, modifying, deleteing not possible

AttributeError: 'frozenset' object has no attribute 'add'

## 6.13. Updating Set

- By using <b>update()</b>. Update the set by adding elements from another set.
- By using <b>intersection_update()</b>. Update the set by keeping only the elements found in both
- By using <b>difference_update()</b>. Update the set by removing elements found in another set.
- By using <b>symmetric_difference_update()</b>. Update the set by only keeping the elements found in either set, but not in both

In [20]:
#By using update()

setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
setA.update(setB) #Update the set by adding elements from another set
print(setA)
setC=setA.update(setB) #returns None, bcz update() will not return a new set
print(setC)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
None

In [28]:
#By using intersection_update()

setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
setA.intersection_update(setB) #Update the set by keeping only the elements found in both
print(setA)

{1, 2, 3}

In [29]:
#By using difference_update()

setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
setA.difference_update(setB) #Update the set by removing elements found in another set
print(setA)

{4, 5, 6, 7, 8, 9}

In [23]:
#By using symmetric_difference_update()

setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
setA.symmetric_difference_update(setB) #Update the set by only keeping the elements found in either set, but not in both
print(setA)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

## 6.14. Copying a Set

- By using <b>copy()</b>

In [30]:
set_org = {1, 2, 3, 4, 5}
set_copy = set_org #this is just copies the reference to the set, so be careful

# now modifying the copy also affects the original
set_copy.update([3, 4, 5, 6, 7])
print(set_copy)
print(set_org)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [31]:
#By using copy()

set_org={1,2,3,4,5}
set_copy=set_org.copy()

# now modifying the copy does not affect the original
set_copy.update([3, 4, 5, 6, 7])
print(set_copy)
print(set_org)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5}